
<app-header></app-header>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61Dw5Z8LzJL._AC_UY327_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 38476
                                | currency :'INR'}}
                            </span><span class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" FHD Thin & Light
                            Laptop(8GB/512GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Xbox Game Pass/Platinum
                            Grey/1.7Kg), 81X800N2IN</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/Lenovo-IdeaPad-Warranty-Platinum-81X800LGIN/dp/B0B2RBP83P/ref=sr_1_2_sspa?crid=3T22MK6B5UN2Q&keywords=laptop&qid=1679278457&sprefix=laptop%2Caps%2C297&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61jQim6YPnL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 1541
                                | currency :'INR'}}
                            </span> <span class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Hammer Ace 3.0 Bluetooth Calling Smart Watch with Largest 1.85" IPS
                            Display</h5>
                        <div class="d-grid gap-2 my-4"> <a
                                href="https://www.amazon.in/Hammer-Ace-3-0-Bluetooth-Metallic/dp/B0BV6FVKSP/ref=sr_1_2_sspa?keywords=electronics&qid=1679276556&s=electronics&sr=1-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"
                                class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61NsyoO-U3L._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                   
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 1899
                                | currency :'INR'}}
                            </span> <span class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Cyber Acoustics 3.5mm Stereo Headset (AC-5002) with Headphones and Noise
                            Canceling Microphone for PCs, Tablets, and Cell Phones in The Classroom or Home…</h5>
                        <div class="text-center my-4"> <a
                                href="https://www.amazon.in/Cyber-Acoustics-AC-5002-headset-SingleComboPlug/dp/B074JHQ8M3/ref=sr_1_1_sspa?keywords=electronics&qid=1679276556&s=electronics&sr=1-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1"
                                class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://rukminim1.flixcart.com/image/312/312/xif0q/monitor/w/m/3/-original-imagky3vnpdgd9gm.jpeg?q=70"
                        class="card-img-top" alt="...">
                        <div class="label-top shadow-sm">High Rated</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 7099
                                | currency :'INR'}}
                            </span>
                            <span class="float-end"><a class="text-muted small" href="#" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">acer 21.5 inch Full HD VA Panel Monitor (KA222Q B) (Response Time: 1 ms,
                            75 Hz Refresh Rate).</h5>
                        <div class="text-center my-4"> <a
                                href="https://www.flipkart.com/acer-21-5-inch-full-hd-va-panel-monitor-ka222q-b/p/itm92e31ee95edcb?pid=MONGHQS4GZ3AWGBV&lid=LSTMONGHQS4GZ3AWGBV1DB2OF&marketplace=FLIPKART&store=6bo%2Fg0i%2F9no&srno=b_1_6&otracker=hp_omu_Best%2Bof%2BElectronics_3_3.dealCard.OMU_TXZMLQJZFW8U_3&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_3_L2_view-all%2Chp_omu_PINNED_neo%2Fmerchandising_Best%2Bof%2BElectronics_NA_dealCard_cc_3_NA_view-all_3&fm=neo%2Fmerchandising&iid=c55c560a-4364-4b98-aed4-c7eb0a90dfff.MONGHQS4GZ3AWGBV.SEARCH&ppt=hp&ppn=homepage&ssid=cczhl9h1zk0000001679277775094"
                                class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://rukminim1.flixcart.com/image/128/128/k3xcdjk0pkrrdj/iron-refurbished/3/w/y/c-dx-2-light-weight-bajaj-original-imafmz9h3y8b7rwg.jpeg?q=70"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 499
                                | currency :'INR'}}
                            </span> <span class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Bajaj DX 2 L/W Dry Iron</h5>
                        <div class="text-center my-4"> <a
                                href="https://www.flipkart.com/bajaj-dx-2-l-w-dry-iron/p/itm9732f83f277e3?pid=IRNDYCZCHNJSW76D&lid=LSTIRNDYCZCHNJSW76DHW9CEM&marketplace=FLIPKART&q=electronics&store=search.flipkart.com&srno=s_1_15&otracker=search&otracker1=search&fm=Search&iid=7edafe37-4ad0-412a-ba6d-0af052768931.IRNDYCZCHNJSW76D.SEARCH&ppt=sp&ppn=sp&ssid=llsi2c4cao0000001679277969428&qH=9ca91fd2ee5f4b46"
                                class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61TTF88NJUL._SY741_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 14690
                                | currency :'INR'}}
                            </span> <span class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Samsung 183 L 3 Star Inverter Direct-Cool Single Door Refrigerator
                            (RR20C1723S8/HL, Silver, Elegant Inox)</h5>
                        <div class="d-grid gap-2 my-4"> <a
                                href="https://www.amazon.in/Samsung-Direct-Cool-Refrigerator-RR20C1723S8-HL/dp/B0BR3WHPQP/ref=sr_1_5?keywords=fridge&qid=1679278113&sr=8-5"
                                class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/619gCnQkdhL._AC_UF640,640_SR640,640_.jpg"
                        class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">High Rated</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 349
                                | currency :'INR'}}
                            </span> <span class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Electronic Digital Kitchen Scale SF-400</h5>
                        <div class="text-center my-4"> <a
                                href="https://www.amazon.in/Electronic-Digital-Kitchen-Scale-SF-400/dp/B072JH15SF/ref=sr_1_16?crid=2BJWBT3IOEBNH&keywords=electronics&qid=1679278242&sprefix=electronic%2Caps%2C378&sr=8-16"
                                class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/41TI-L79tWL.jpg"
                        class="card-img-top" alt="...">
                  
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 459
                                | currency :'INR'}}
                            </span> <span class="float-end"><a class="text-muted small" href="#" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">JUNKYARD Electronics Plastic 1800 Watts Hot Air Gun for Shrink Wrapping Packing, Stripping Paint, Thawing Frozen Water Pipes (Colour May Vary)</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/Junkyard-Electronics-Suitable-Wrapping-Stripping/dp/B06Y2962KC/ref=sr_1_42?keywords=electronics&qid=1679278558&sprefix=%2Caps%2C493&sr=8-42" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
<app-footer></app-footer>