<app-header></app-header>

<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51fQ0k-ah8L._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">   <span class="float-start badge rounded-pill bg-success">{{ 3230
                                    | currency :'INR'}}
                                </span><span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">Device Bas with BROWN ART SHOPPEE Home Decor Furniture Round Side Tea Coffee Table Sets,2 Piece Mdf Top Couch Table,Stacking Nesting Table</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/Device-Bas-BROWN-ART-SHOPPEE/dp/B0BLLGV6XP/ref=sr_1_17?crid=2JTIPLZUDTORG&keywords=furnitures&qid=1679279142&sprefix=furnitures+%2Caps%2C438&sr=8-17" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61LxhRLmXRL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 6229
                            | currency :'INR'}}
                        </span> <span
                        class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">Happy Star Outdoor Furniture Single Seater Swing, Beautiful Swing Without Stand (Black Swing with Red Cushion)</h5>
                        <div class="d-grid gap-2 my-4"> <a href="https://www.amazon.in/Outdoor-Furniture-Beautiful-Without-Cushion/dp/B09SQ2NZ9Q/ref=sr_1_9?crid=3HMCB3TTFM8LV&keywords=furniture+beautiful&qid=1679279829&sprefix=furniture+beautiful%2Caps%2C285&sr=8-9" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/81dZ9PhNEVS._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 4000
                            | currency :'INR'}}
                        </span> <span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">ELITISM Wooden Room Partition for Living Rooms, Wood Screen Separator and Wooden Room Wall Dividers 5 Wall Panels with Stands for Living Room</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/ELITISM-Partition-Separator-Dividers-Restaurant/dp/B0BCK82TR6/ref=sr_1_58_sspa?crid=2JTIPLZUDTORG&keywords=furnitures&qid=1679279142&sprefix=furnitures+%2Caps%2C438&sr=8-58-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9idGY&psc=1" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61rRA1nzuUL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 5999
                                | currency :'INR'}}
                            </span>
                            <span class="float-end"><a class="text-muted small" href="#" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Aart Store Two - Seater Folding Sofa Cum Bed Furniture | Size - 4x6 Feet | for Home & Living Room - Brown Color</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/Aart-Store-Two-Folding-Furniture/dp/B0BQ74DV6V/ref=sr_1_28?crid=2JTIPLZUDTORG&keywords=furnitures&qid=1679279142&sprefix=furnitures+%2Caps%2C438&sr=8-28" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71vnQqDhd0L._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                        <div class="label-top shadow-sm">High Rated</div>
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 315
                                    | currency :'INR'}}
                                </span> <span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span></div>
                        <h5 class="card-title">iCare Gifts Home Engineered Wood Furniture for Living Room Accent Sofa Side Table Nightstand</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/iCare-Furniture-Living-Accent-Nightstand/dp/B086C85PR4/ref=sr_1_31?crid=2JTIPLZUDTORG&keywords=furnitures&qid=1679279142&sprefix=furnitures+%2Caps%2C438&sr=8-31" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71XPc7WoqiS._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 899
                            | currency :'INR'}}
                        </span> <span
                        class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">Danish Art Window Beautiful Antique Wooden Stool with Storage for Living and Bedroom Furniture (Brown, 12 Inch)</h5>
                        <div class="d-grid gap-2 my-4"> <a href="https://www.amazon.in/Danish-Art-Beautiful-Antique-Furniture/dp/B0857KPTYX/ref=sr_1_6?crid=3HMCB3TTFM8LV&keywords=furniture+beautiful&qid=1679279829&sprefix=furniture+beautiful%2Caps%2C285&sr=8-6" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71QKMwYKdML._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 1199
                            | currency :'INR'}}
                        </span> <span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">Shree rajeshwar Art Wooden Beautiful Handmade Stool | Table | for Office | Home Furniture | Outdoor - Brown</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/rajeshwar-Beautiful-Handmade-Furniture-Outdoor/dp/B0B7WPLXDG/ref=sr_1_27?crid=3HMCB3TTFM8LV&keywords=furniture+beautiful&qid=1679279829&sprefix=furniture+beautiful%2Caps%2C285&sr=8-27" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61MthTRniNL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">High Rated</div>
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 689
                            | currency :'INR'}}
                        </span> <span
                                class="float-end"><a class="text-muted small" href="#" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">Extend Crafts Wooden Beautiful Folding Side Table Night Stand Stool Coffee Table Plant Stand for Living Room Bedroom Kids Play Furniture Stool Office (Brown)</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/Extend-Crafts-Beautiful-Furniture-Brown/dp/B0BBW31WKB/ref=sr_1_19?crid=3HMCB3TTFM8LV&keywords=furniture+beautiful&qid=1679279829&sprefix=furniture+beautiful%2Caps%2C285&sr=8-19" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
<app-footer></app-footer>