
<app-header></app-header>

<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61UeHG7WbpL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">   <span class="float-start badge rounded-pill bg-success">{{ 798
                                    | currency :'INR'}}
                                </span><span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">FIBREZA Women's Georgette A-line Maxi Dress</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/FIBREZA-Womens-Maxi-Dress-DA-T8RH-R31M_Black_X-Large/dp/B0819S9NY7/ref=sr_1_7?keywords=beautiful+dress+for+women&qid=1679280273&sprefix=beautiful+%2Caps%2C499&sr=8-7"  target="_blank"  class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71nWkTTddlL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 919
                            | currency :'INR'}}
                        </span> <span
                        class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">RARE Women's Synthetic a-line Knee-Long Dress</h5>
                        <div class="d-grid gap-2 my-4"> <a href="https://www.amazon.in/RARE-Womens-Georgette-Flare-EP3153_Black_S/dp/B09W94GMFB/ref=sxin_20_slsr_d_i_fs4star_fa_1_B09W94GMFB?content-id=amzn1.sym.38b84696-ffe4-48a8-accc-c9001fc80941%3Aamzn1.sym.38b84696-ffe4-48a8-accc-c9001fc80941&cv_ct_cx=beautiful+dress+for+women&keywords=beautiful+dress+for+women&pd_rd_i=B09W94GMFB&pd_rd_r=01f4a82e-ae32-4a14-8d70-4b97d103da0a&pd_rd_w=LJmcl&pd_rd_wg=KUhZp&pf_rd_p=38b84696-ffe4-48a8-accc-c9001fc80941&pf_rd_r=EEVVB53T5ZCBB3CSFSB5&qid=1679280273&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=beautiful+%2Caps%2C499&sr=1-2-41e0d225-3819-4755-898e-7f0f48633b47" target="_blank"  class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51PKiwdvG-L._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">High Rated</div>
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 641
                            | currency :'INR'}}
                        </span> <span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">GoSriKi Women Kurta with Palazzos & Dupatta</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/GoSriKi-Palazzos-Dupatta-Rust-Parrot-GO_M_Light-Green_Medium/dp/B09TXP8FPY/ref=sr_1_33?keywords=beautiful+dress+for+women&qid=1679280273&sprefix=beautiful+%2Caps%2C499&sr=8-33"  target="_blank" class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61797g8pOXL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{ 989
                                | currency :'INR'}}
                            </span>
                            <span class="float-end"><a class="text-muted small" href="#" routerLink="/review">Reviews</a></span>
                        </div>
                        <h5 class="card-title">Elecurve Ruched Tulip Hem Premium Satin Bodycon Dress |Latest Western Dress for Women|Green</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/Elecurve-Ruched-Premium-Bodycon-Western/dp/B0BT21273L/ref=sr_1_4_sspa?crid=38ERKZZ81WCC&keywords=short+dress+for+women&qid=1679280514&sprefix=short+dress+for+women%2Caps%2C304&sr=8-4-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank"  class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61FcAjTxH6L._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 329
                                    | currency :'INR'}}
                                </span> <span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span></div>
                        <h5 class="card-title">SIRIL Women's Solid Stretchable Bodycon Velvet Dress</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/SIRIL-Womens-Stretchable-Bodycon-294TKA156-S/dp/B09QCRD4G9/ref=sr_1_33?crid=38ERKZZ81WCC&keywords=short+dress+for+women&qid=1679280514&sprefix=short+dress+for+women%2Caps%2C304&sr=8-33"  target="_blank" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61LLVU45xtL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 669
                            | currency :'INR'}}
                        </span> <span
                        class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">Lymio Dresses for Women || Western Dresses for Women || Dress for Women || Dresses (560-563).</h5>
                        <div class="d-grid gap-2 my-4"> <a href="https://www.amazon.in/Lymio-Dresses-Women-Western-560-563/dp/B0B3T6LC91/ref=sr_1_30?keywords=shorts+dress+for+women&qid=1679280722&sprefix=shorts++dre%2Caps%2C326&sr=8-30"  target="_blank" class="btn btn-warning">Check offer</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51G5ZaZuudL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 1399
                            | currency :'INR'}}
                        </span> <span
                                class="float-end"><a href="#" class="small text-muted" routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">DEEBACO Women's Relaxed Fit|Cotton Cord Set for Women Western Suit|Suit Set|Two Piece Dress for Women Western</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/DEEBACO-Relaxed-Western-Outfits-DBCO00000471_XXL_Black/dp/B09Y5SN8R6/ref=sr_1_7_mod_primary_new?crid=32YPTPDVQND43&keywords=formal+dress+for+women&qid=1679280829&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=formal+dress+for+women%2Caps%2C445&sr=8-7" target="_blank"  class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img
                        src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/41ZYyXJmqFL._AC_UL480_FMwebp_QL65_.jpg"
                        class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">High Rated</div>
                    <div class="card-body">
                        <div class="clearfix mb-3">  <span class="float-start badge rounded-pill bg-success">{{ 8399
                            | currency :'INR'}}
                        </span> <span
                                class="float-end"><a class="text-muted small" href="#"  routerLink="/review">Reviews</a></span> </div>
                        <h5 class="card-title">Flosse Women's Micro Velvet Embroidered Full Set Kurti Dress with Pant and Dupatta-Maroon</h5>
                        <div class="text-center my-4"> <a href="https://www.amazon.in/Flosse-Womens-Velvet-Embroidered-Dupatta-Maroon/dp/B0BYJWCMM7/ref=sr_1_4_sspa?crid=1VMOGO2MWWUXX&keywords=kurti+dress+for+women&qid=1679280940&sprefix=kurtidress+for+women%2Caps%2C340&sr=8-4-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" target="_blank"  class="btn btn-warning">Check offer</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i
                                    class="far fa-question-circle"></i></span> <span class="float-end"><i
                                    class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
<app-footer></app-footer>
